* {
	box-sizing: border-box;
  }
  
  body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
	  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(71, 75, 73);
	color: #212121;
	line-height: 1.5;
	margin: 0;
	background: rgb(71, 75, 73);
  }
  
  a {
	text-decoration: none;
  }
  
  p {
	margin: 0;
  }
  
  img {
	display: block;
	max-width: 100%;
	height: auto;
  }
  
  .button {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	margin: auto;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button:hover,
  .button:focus {
	background-color: #74797a;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

  .form-wrap {
	width: 100%;
	background-color: #585b5c;
	padding-top: 10px;
	padding-bottom: 10px;
	position: sticky;
	z-index: 100;
	padding: 8px;
	box-shadow: 0 1px 3px rgba(4, 91, 114, 0.12),
	  0 1px 1px rgba(3, 137, 163, 0.14), 0 2px 1px rgba(241, 241, 241, 0.2);
  }

  .search-form {
	display: flex;
	justify-content: center;
	width: 100%;
  }

  .search-input {
	width: 30%;
	border: 3px solid #404243;
	font-size: 20px;
	border-right: none;
	padding: 5px;
	height: 36px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #404243;
  }

  .search-buttot {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 4px solid #404243;
	background-color: #404243;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .search-buttot:hover,
  .search-buttot:focus {
	background-color: #4f5253;
  }
  
  /* button.is-hidden {
	display: none;
  } */

  .gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
	padding: 0;
	max-width: calc(100vw - 80px);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 30px;
  }

  .photo-card {
	background: linear-gradient(270deg, #8f9496, #c7cfd4);
	border: 2px solid #c7cfd4;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(4, 91, 114, 0.12),
	  0 1px 1px rgba(4, 102, 122, 0.14), 0 2px 1px rgba(122, 215, 243, 0.2);
	transition: all 0.3s;
  }
  .photo-card:hover,
  .photo-card:focus {
	transform: scale(1.05);
	-webkit-box-shadow: 0px 10px 13px -7px #000000,
	  4px 1px 14px 5px rgba(0, 0, 0, 0);
	box-shadow: 0px 10px 13px -7px #000000, 4px 1px 14px 5px rgba(0, 0, 0, 0);
  }

  .gallary-image {
	transition: transform 500ms linear;
  }
  
  .gallary-image:hover {
	transform: scale(1.1);
  }

  .info {
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	color: #2d3131;
	padding-top: 10px;
	padding-bottom: 10px;
  }
  
  .info-item {
	text-align: center;
  }
  .info-item:not(:last-child) {
	margin-right: 15px;
  }

  .gallary-image {
	display: block;
	width: 100%;
	height: 200px;
	object-fit: cover;
  }

  .loadMore {
	/* display: block; */
	background-color: #333;
	text-align: center;
	padding: 10px 20px;
	margin: 10px auto;
	border: 4px solid #404243;
	background-color: #404243;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.loadMore:hover,
.loadMore:focus {
  background-color: #74797a;
}  

